{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block _title %}
    Yeni Gönderi
{% endblock %}

{% block _navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block _banner %}
  {% include 'banner.html' %}
{% endblock %}



{% block _content1 %}

  <div class="row">

    <h5>Yeni Gönderi</h5>
    <hr>

    <form class="" action="{% url 'add_post_page' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form | crispy }}
      <input type="submit" class="btn btn-primary mt-4 mb-4" value="Ekle">
    </form>

  </div>


{% endblock %}


{% block _right_content %}

  {% include 'user_operations.html' %}

{% endblock %}


{% block _footer %}
  {% include 'footer.html' %}
{% endblock %}
