{% for post in posts %}

  <div class="card row" style="width: 18rem;">
    <img src="{{ post.image.url }}" class="card-img-top" alt="..." style="max-height: 160px;">
    <div class="card-body">
      <h5 class="card-title">{{ post.title|title }}</h5>
      <p class="card-text">{{ post.content|truncatewords:20|striptags }}</p>
      <a href="#" class="btn btn-sm btn-primary">Devamını oku</a>
    </div>
  </div>
{% empty %}

  <div class="">
    <span>Hiç yazı eklenmemiş</span>
  </div>

{% endfor %}
