{% extends 'base.html' %}
{% load static %}


{% block _title %}
    {{ category }}
{% endblock %}

{% block _navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block _banner %}
  {% include 'banner.html' %}
{% endblock %}



{% block _content1 %}

  <div class="">
    <h4>
      Kategori: {{ category }}
    </h4>
    <hr>
  </div>

  {% include 'blog_cards.html' %}

  {% include 'pagination.html' %}

{% endblock %}


{% block _right_content %}

  {% include 'user_operations.html' %}

  <!-- {% include 'latest_topics.html' %} -->

  {% include 'tag_cloud.html' %}

{% endblock %}


{% block _footer %}
  {% include 'footer.html' %}
{% endblock %}
