

{% for comment in comments %}

  <div class="card mb-3" style="">
    <div class="row g-0">
      <div class="col-md-4 mt-3" style="max-width: 80px;">
        {% if comment.author.avatar %}
          <img src=" {{ comment.author.avatar.url }}" class="img-thumbnail rounded" alt="...">
        {% else %}
          <img src="/media/common/no_avatar.jpeg" class="img-thumbnail rounded" alt="...">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-title">
            {{ comment.author.username }}
          </h6>
          <p class="card-text">
            {{ comment.content }}
          </p>
          {% if request.user == comment.author or request.user == post.author %}
            <p class="card-text">
              <a class="btn btn-danger btn-sm" href="{% url 'delete_comment_url' id=comment.id %}">
                Yorumu sil
              </a>
            </p>
          {% endif %}
          <p class="card-text">
            <small class="text-muted">
              {{ comment.modified_date | timesince }} önce
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <p> Henüz bir yorum yapılmamış </p>
{% endfor %}
