{% extends 'base.html' %}
{% load static %}


{% block _title %}
    Contact
{% endblock %}

{% block _navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block _banner %}
  {% include 'banner.html' %}
{% endblock %}



{% block _content1 %}

  <div class="row">

    <p>İletişim Sayfası</p>
    <p>{{ key }}</p>
    <p>{{ key1 }}</p>
    <p>{{ key2 }}</p>

  </div>


{% endblock %}


{% block _right_content %}

  {% include 'user_operations.html' %}

{% endblock %}


{% block _footer %}
  {% include 'footer.html' %}
{% endblock %}
