{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block _title %}
    Contact
{% endblock %}

{% block _navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block _banner %}
  {% include 'banner.html' %}
{% endblock %}



{% block _content1 %}

  <div class="row">

    <h5>İletişim Sayfası</h5>
    <hr>

    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" class="btn btn-primary mt-4 mb-4" value="Gönder">
    </form>

  </div>


{% endblock %}


{% block _right_content %}

  {% include 'user_operations.html' %}

{% endblock %}


{% block _footer %}
  {% include 'footer.html' %}
{% endblock %}
