<div class="card mt-3">
  <div class="">
    <h4>Son Konular</h4>
  </div>
  <div class="list-group">
    {% for post in lposts %}

    <a href="{% url 'post_page' slug=post.slug %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">
          {{ post.title | title | truncatechars:16 | safe }}
        </h6>
        <small class="text-muted">
          {{ post.modified_date | timesince }}
        </small>
      </div>
      <p class="mb-1">
        {{ post.content | truncatewords:12 | striptags }}
      </p>
      <!-- <small class="text-muted">And some muted small print.</small> -->
    </a>

    {% empty %}

      <div class="">
        <span> Hiç yazı eklenmemiş </span>
      </div>

    {% endfor %}


  </div>
</div>
