{% load category_list %}
{% category_list as categories %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home_url' %}">MyBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home_url' %}" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/admin/">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'post_url' slug='hede' %}">Blog Sample</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_url' %}">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategoriler
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
              <li><a class="dropdown-item" href="{% url 'category_url' slug=category.slug %}">{{ category.title }}</a></li>
            {% endfor %}

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" action="{% url 'home_url' %}">
        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search" name="sq">
        <button class="btn btn-outline-success" type="submit">Ara</button>
      </form>
    </div>
  </div>
</nav>
