{% extends 'base.html' %}
{% load static %}


{% block _title %}
  {{ post.title }}
{% endblock %}

{% block _navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block _banner %}
  {% include 'banner.html' %}
{% endblock %}



{% block _content1 %}

  {% include 'post.html' %}

  <h5> Yorumlar </h5> <br>




  {% include 'add_comment.html' %}
  {% if messages %}
    {% include 'messages.html' %}
  {% endif %}
  {% include 'comments.html' %}

{% endblock %}


{% block _right_content %}

  {% include 'user_operations.html' %}

  {% include 'latest_topics.html' %}

  {% include 'tag_cloud.html' %}

{% endblock %}


{% block _footer %}
  {% include 'footer.html' %}
{% endblock %}
