<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-12 col">
      <div class="card-body">
        <h5 class="card-title">
          {{ post.title }}
        </h5>
        <h8 class="card-title">
          {{ post.author.username }}
        </h8>
        {% if post.image %}
        <div class="col-md-4 mt-1 mb-1">
          <img src="{{ post.image.url }}" class="img-fluid" alt="...">
        </div>
        {% endif %}
        <p class="card-text">
          {{ post.content | safe }}
        </p>
        <p class="card-text">
          <small class="text-muted">
            {{ post.created_date | timesince }} önce eklendi <br>
            {% if post.created_date.minute != post.modified_date.minute  or post.created_date.second != post.modified_date.second  %}
              {{ post.modified_date | timesince }} düzenlendi
            {% endif %}
          </small>
          {% if request.user == post.author %}
            <p>
              <a class="btn btn-secondary btn-sm" href="{% url 'update_post_page' slug=post.slug %}">
                Düzenle
              </a>
              <a class="btn btn-danger btn-sm" href="{% url 'delete_post_page' slug=post.slug %}">
                Sil
              </a>
            </p>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
