{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block _title %}
    Şifre
{% endblock %}

{% block _navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block _banner %}
  {% include 'banner.html' %}
{% endblock %}



{% block _content1 %}

  <div class="">

    <h5>Şifre Değiştirme</h5>
    <hr>
    {% if messages %}
      {% include 'messages.html' %}
    {% endif %}
    <form class="" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form | crispy  }}
      <input type="submit" class="btn btn-primary mt-4 mb-4" value="Onayla">
    </form>

  </div>
{% endblock %}


{% block _right_content %}

  {% include 'user_operations.html' %}

  <!-- {% include 'latest_topics.html' %} -->

  {% include 'tag_cloud.html' %}

{% endblock %}


{% block _footer %}
  {% include 'footer.html' %}
{% endblock %}
