


{% if request.user.is_authenticated %}
  <!-- Giriş yapılmışsa kullanıcı işlemleri -->
  <div class="card">
    <h4>Kullanıcı İşlemleri</h4>
    <div class="list-group">

      <a href="{% url 'add_post_url' %}" class="active">
        <button type="button" class="list-group-item list-group-item-action active">
          Yeni Gönderi
        </button>
      </a>

      <a href="{% url 'my_posts_url' %}" class="">
        <button type="button" class="list-group-item list-group-item-action">
          Gönderilerim
        </button>
      </a>

      <button type="button" class="list-group-item list-group-item-action" disabled>Yorumlarım</button>

      <button type="button" class="list-group-item list-group-item-action" disabled>Favoriler</button>

      <a href="{% url 'update_user_url' %}" class="">
        <button type="button" class="list-group-item list-group-item-action">
          Profil Düzenle
        </button>
      </a>

      <a href="{% url 'change_pwd_url' %}" class="">
        <button type="button" class="list-group-item list-group-item-action">
          Şifre işlemleri
        </button>
      </a>


      <a href="{% url 'sign_out_url' %}" class="">
        <button type="button" class="list-group-item list-group-item-action">
          Çıkış
        </button>
      </a>


    </div>
  </div>

{% else %}
  <!-- Giriş yapılmamışsa Login Form açılsın -->


  <div class="card">
    <h4>Kullanıcı İşlemleri</h4>
    <div class="list-group">
      <a href="{% url 'sign_in_url' %}" class="">
        <button type="button" class="list-group-item list-group-item-action">
          Siteye giriş yap
        </button>
      </a>
      <a href="{% url 'sign_up_url' %}" class="">
        <button type="button" class="list-group-item list-group-item-action">
          Siteye kayıt ol
        </button>
      </a>
    </div>
  </div>


{% endif %}
